# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# Firebase Configuration
VITE_FIREBASE_API_KEY="YOUR_API_KEY"
VITE_FIREBASE_AUTH_DOMAIN="YOUR_AUTH_DOMAIN"
VITE_FIREBASE_PROJECT_ID="YOUR_PROJECT_ID"
VITE_FIREBASE_STORAGE_BUCKET="YOUR_STORAGE_BUCKET"
VITE_FIREBASE_MESSAGING_SENDER_ID="YOUR_SENDER_ID"
VITE_FIREBASE_APP_ID="YOUR_APP_ID"
VITE_FIREBASE_MEASUREMENT_ID="YOUR_MEASUREMENT_ID"

# Admin Configuration
VITE_ADMIN_PASSWORD_SUPER="superadmin123"
VITE_ADMIN_PASSWORD_MBA="mba123"
VITE_ADMIN_PASSWORD_MCA="mca123"
VITE_ADMIN_PASSWORD_COMPUTER="computer123"
VITE_ADMIN_PASSWORD_AIDS="aids123"
VITE_ADMIN_PASSWORD_CIVIL="civil123"
VITE_ADMIN_PASSWORD_CIVIL_KNOCKDOWN="civil-knockdown123"
VITE_ADMIN_PASSWORD_CIVIL_QUIZ="civil-quiz123"
VITE_ADMIN_PASSWORD_ETC="etc123"
VITE_ADMIN_PASSWORD_MECH="mech123"
VITE_ADMIN_PASSWORD_FE="fe123"

# Google Drive Configuration
GOOGLE_SERVICE_ACCOUNT_EMAIL="your-service-account@your-project.iam.gserviceaccount.com"
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_DRIVE_FOLDER_ID="1e9wVpKvtGU0UcDH4biqVr2N61aiQLgbH"
